<header>
  <div class="container">
    <a class="logo" href="{{ site.baseurl }}/">
      <span class="tedx-logo">TEDx</span><span class="tedx-name">Youth@DoonSchool</span>
      <div class="tedx-info">
          <span class="ted-red">x</span> = independently organized TED event
      </div>
    </a>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/speakers/">Speakers</a>
      <a href="{{ site.baseurl }}/about/">About</a>
      <a href="{{ site.baseurl }}/team/">Team</a>
    </nav>

    <h1>{{ page.title }}</h1>
  </div>
</header>